<link rel="stylesheet" href="../../admin/css/editProductStyle.css" >

 <div class="row">
        <div class="col-md-12_edit">
            <p class="edit">עריכת <%= product.name %> </p>
        </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <% if (errors.length > 0) { %>
            <div class="alert alert-danger">
                <% for (error of errors) { %>
                    <%= error %><br>
                <% } %>
            </div>
        <% } %>
        
        <form action="/admin_updateProduct/<%= product.slug %>" method="POST">
            <div class="form-group">
                <label>ערוך שם מוצר</label>
                <input type="text" name="name" class="form-control" value="<%= product.name %>">
            </div>
            
            <div class="form-group">
                <label>ערוך מספר סידורי למוצר</label>
                <input id="serialNumber" type="number" name="serialNumber" class="form-control" value="<%= product.imgName %>" >
            </div>
            
             <div class="form-group">
                <label>ערוך מחיר מוצר</label>
                <input id="price" type="text" name="price" class="form-control" value="<%= product.price %>" >
            </div>
            
            
            <div class="form-group">
                <label>ערוך תיאור למוצר</label>
                <textarea id="description" name="description" rows="5" class="form-control"><%= product.description %></textarea>
            </div>
            
            <div class="form-group">
                <label for="category">ערוך קטגוריית המוצר</label>
                <select id="category" name="category" class="form-control" required="required">
                    <option value="<%= product.category%>" selected=""><%= product.category%></option>
                    <option value="medical product"><p>ציוד רפואי</p></option>
                    <option value="medical furniture"><p>ריהוט רפואי</p></option>
                    <option value="medical equipment"><p>מכשור רפואי</p></option>
                    <option value="first aid kits"><p>ערכות עזרה ראשונה</p></option>
                    <option value="equipment cpr"><p>ציוד החייאה ועזרה ראשונה</p></option>
                    <option value="trainingand equipment"><p>ציוד הדרכה וסימולציה</p></option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="recommended">האם המוצר מומלץ?</label>
                <select id="recommended" name="recommended" class="form-control" required="required">
                    <option value="<%= product.recommended %>" selected=""><%= product.recommended %></option>
                    <option value="yes">כן</option>
                    <option value="no">לא</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="stockpile">האם המוצר במלאי?</label>
                <select id="stockpile" name="stockpile" class="form-control" required="required">
                    <option value="<%= product.stockpile %>" selected=""><%= product.stockpile %></option>
                    <option value="yes">כן</option>
                    <option value="no">לא</option>
                </select>
            </div>
            
            <div class="form-group">
                <label>ערוך כמות במלאי</label>
                <input id="amount" type="number" name="amount" class="form-control" value="<%= product.amount %>">
            </div>
            
            
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-md">ערוך</button>
                <a href="/main_admin" class="btn btn-md btn-danger">בחזרה לתפריט</a>
            </div>
        </form>
    </div>
</div>



