<link rel="stylesheet" href="../../admin/css/admin_productListStyle.css" >

<%var counter=0 %>
<div class="container text-center">
    <div class="row">
        <div class="col-md-12_cart">
            <p class="cart"><%= user.local.username %></p>
        </div>
    </div>

    <br><br>
    <input type="text" id="myInput" onkeyup="searchProduct()" placeholder="הכנס שם מוצר לחיפוש">

    <br><br>
    <table id="productTable" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th><center>שם מוצר</center></th>
                <th><center>תאור</center></th>
                <th><center>מחיר</center></th>
                <th><center>כמות במלאי</center></th>
                
            </tr>
        </thead>
        <tbody>
            <% for (var product of products) { %>
                <tr>
                    <td><img class="imgt" id="myImg" src="../../<%= product.category %>/<%= product.imgName %>.jpg"><h4><%= product.name %></h4></td>
                    <td><h5><%= product.description %></h5></td>
                    <td><h5><%= product.price %></h5></td>
                    <td><h5><%= product.amount %></h5></td>
                    <td><br>
                        <a href="/deleteProduct/<%= product.slug %>/delete" class="btn btn-sm btn-danger">מחיקה</a>
                    </td>
                    <td><br>
                        <a href="/updateProduct/<%= product.slug %>/update" class="btn btn-sm btn-primary">עדכון</a>
                    </td>
                </tr>
            <% counter=counter+1 %>
            <% } %>
        </tbody>
    </table>
    
    <div class="row">
        <div class="col-md-12_cart">
            <p class="cart"><%=  counter %></p>
        </div>
    </div>
</div>

<script src="../../admin/js/admin_productList.js"></script>





