<link rel="stylesheet" href="../../css/cartStyle.css" >

<div class="container text-center">
    <div class="row">
        <div class="col-md-12_cart">
            <p class="cart">עגלת הקניות שלי</p>
        </div>
    </div>

    <br><br>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th><center>שם מוצר</center></th>
                <th><center>תאור</center></th>
            </tr>
        </thead>
        <tbody>
            <% for (var product of products) { %>
                <tr>
                    <td><img id="myImg" src="../../<%= product.imgName %>.jpg"><%= product.name %></td>
                    <td></br></br><%= product.description %></td>
                    <td>
                        </br></br>
                        <a href="/cart/<%= product.slug %>" class="btn btn-sm btn-primary">לרכישה אנא צרו קשר</a>  
                        <a href="/cart/<%= product.slug %>/delete" class="btn btn-sm btn-danger">מחיקה</a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>



